body {
    font-family: 'Ubuntun', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
}

.appTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.mainWrap {
    display: flex;
    width: 750px;
    height: 100%;
}

.mainChild {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    margin: 5px;
}

.formWrap {
    float: left;
    border: 1px solid;
    padding: 10px;
}

input[type=text], input[type=number], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
}

#pages {
    width: 100px;
}

#submit {
    width: 100%;
    margin: 12px 0;
}

.btn {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color:#FFFFFF;
    background-color:#276678;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    cursor: pointer;
}

.btn:active{
    top:0.1em;
}

.redBtn {
    background-color: red;
}

.greenBtn {
    background-color: green;
}

.collectionWrap {
    padding: 10px;
    border: 1px solid;
}